<body>
  <div class="sidebar">
    <a routerLink="/admin/adminhome">Home</a>
    <a routerLink="/admin/kids">Kids</a>
    <a c routerLink="/admin/tutors">Staffs</a>
    <a lass="active"routerLink="/admin/users">Users</a>
    <a routerLink="/admin/plans">Plans</a>
    <a routerLink="/admin/payments">Payments</a>
  </div>
  <div class="content">



    <div class="list">
      <ul>
        <li>Name</li>
        <li>Email</li>
        <li>D.O.B</li>
        <li>contact</li>
      </ul>
      <ul *ngFor="let user of users">
        <li data-label="Name">{{user.name}}</li>
        <li data-label="Email">{{user.email}}</li>
        <li data-label="D.O.B">{{user.dob}}</li>
        <li data-label="Contact">{{user.contact}}</li>
      
      </ul>
     

     
    </div>

  </div>
</body>
