<!-- <body>
  <div class="sidebar">
    <a routerLink="/admin/adminhome">Home</a>
    <a class="active" routerLink="/admin/kids">Kids</a>
    <a routerLink="/admin/tutors">Staffs</a>
    <a routerLink="/admin/users">Users</a>
    <a routerLink="/admin/plans">Plans</a>
    <a routerLink="/admin/payments">Payments</a>
  </div>
  <div class="content">



    <div class="list">
      <ul>
        <li>Name</li>
        <li>D.O.B</li>
        <li>Gender</li>
        <li>Tutor</li>
        <li>More</li>
      </ul>
      <ul *ngFor="let kid of kids">
        <li data-label="Name" >{{kid.name}}</li>
        <li data-label="D.O.B">{{kid.dob}}</li>
        <li data-label="Gender">{{kid.gender}}</li>
        <li data-label="Tutor">{{kid.staff?.name}}</li>
        <li data-label="More"><button (click)="babyprofile(kid._id)" class="viewbutton">View</button></li>
      
      </ul>
     

     
    </div>

  </div>
</body>  -->

<body>
  <div class="sidebar">
    <a routerLink="/admin/adminhome">Home</a>
    <a class="active" routerLink="/admin/kids">Kids</a>
    <a routerLink="/admin/tutors">Staffs</a>
    <a routerLink="/admin/users">Users</a>
    <a routerLink="/admin/plans">Plans</a>
    <a routerLink="/admin/payments">Payments</a>
  </div>
  <div class="content">
    <div class="list">
<input matInput (keyup)="applyFilter($event)" placeholder="Search" />

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let kid">{{ kid.name }}</td>
        </ng-container>
        <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef>D.O.B</th>
          <td mat-cell *matCellDef="let kid">{{ kid.dob }}</td>
        </ng-container>
        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef>Gender</th>
          <td mat-cell *matCellDef="let kid">{{ kid.gender }}</td>
        </ng-container>
        <ng-container matColumnDef="tutor">
          <th mat-header-cell *matHeaderCellDef>Tutor</th>
          <td mat-cell *matCellDef="let kid">{{ kid.staff?.name }}</td>
        </ng-container>
        <ng-container matColumnDef="more">
          <th mat-header-cell *matHeaderCellDef>More</th>
          <td mat-cell *matCellDef="let kid">
            <button (click)="babyprofile(kid._id)" class="viewbutton">
              View
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let kid">
            <button (click)="babyprofile(kid._id)" class="viewbutton">
              View
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="pageSizeOptions"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</body>
