<body>
  <div class="sidebar">
    <a routerLink="/admin/adminhome">Home</a>
    <a routerLink="/admin/kids">Kids</a>
    <a routerLink="/admin/tutors">Staffs</a>
    <a routerLink="/admin/users">Users</a>
    <a routerLink="/admin/plans">Plans</a>
    <a class="active" routerLink="/admin/payments">Payments</a>
  </div>

  <div class="content">
    <div class="list">
      <ul>
        <li>First Name</li>
        <li>Last Name</li>
        <li>Country</li>
        <li>Number</li>
        <li>Reference</li>
        <li>Description</li>
      </ul>
      <ul>
        <li data-label="first name">Chris</li>
        <li data-label="last name">Smith</li>
        <li data-label="country">United Kingdom</li>
        <li data-label="number">0123456789</li>
        <li data-label="reference">ABCDE</li>
        <li data-label="description">
          <p>Example of a responsive list/table on Codepen.</p>
        </li>
      </ul>
      <ul>
        <li data-label="first name">Chris</li>
        <li data-label="last name">Smith</li>
        <li data-label="country">United Kingdom</li>
        <li data-label="number">0123456789</li>
        <li data-label="reference">ABCDE</li>
        <li data-label="description">
          <p>Example of a responsive list/table on Codepen.</p>
        </li>
      </ul>
      <ul>
        <li data-label="first name">Chris</li>
        <li data-label="last name">Smith</li>
        <li data-label="country">United Kingdom</li>
        <li data-label="number">0123456789</li>
        <li data-label="reference">ABCDE</li>
        <li data-label="description">
          <p>Example of a responsive list/table on Codepen.</p>
        </li>
      </ul>
      <ul>
        <li data-label="first name">Chris</li>
        <li data-label="last name">Smith</li>
        <li data-label="country">United Kingdom</li>
        <li data-label="number">0123456789</li>
        <li data-label="reference">ABCDE</li>
        <li data-label="description">
          <p>Example of a responsive list/table on Codepen.</p>
        </li>
      </ul>
      <ul>
        <li data-label="first name">Chris</li>
        <li data-label="last name">Smith</li>
        <li data-label="country">United Kingdom</li>
        <li data-label="number">0123456789</li>
        <li data-label="reference">ABCDE</li>
        <li data-label="description">
          <p>Example of a responsive list/table on Codepen.</p>
        </li>
      </ul>
      <ul>
        <li data-label="first name">Chris</li>
        <li data-label="last name">Smith</li>
        <li data-label="country">United Kingdom</li>
        <li data-label="number">0123456789</li>
        <li data-label="reference">ABCDE</li>
        <li data-label="description">
          <p>Example of a responsive list/table on Codepen.</p>
        </li>
      </ul>
    </div>
  </div>
</body>
